body {
  font-family: "Blimey Variable", sans-serif;
  font-size: 2rem;
  /* Rest of your body styles */
}

@font-face {
  font-family: "Blimey Variable";
  src: url("https://db.onlinewebfonts.com/t/d573c50173f8483a67c0b94b13033396.eot");
  src: url("https://db.onlinewebfonts.com/t/d573c50173f8483a67c0b94b13033396.eot?#iefix") format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/d573c50173f8483a67c0b94b13033396.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/d573c50173f8483a67c0b94b13033396.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/d573c50173f8483a67c0b94b13033396.ttf") format("truetype"),
       url("https://db.onlinewebfonts.com/t/d573c50173f8483a67c0b94b13033396.svg#Blimey Variable") format("svg");
}

// Define variables for reuse
$blimeyFont: 'Blimey', sans-serif;
$footerTextColor: #17b7f7; // You can change the color to your preference
$footerBackgroundColor: #f0f0f000; // You can change the background color to your preference

footer {
  background-color: $footerBackgroundColor;
  padding: 20px;
  margin-top: 200px; /* Adjust this value to move the footer down more */
  position: relative;
  text-align: center;
  font-size: 52px;
  text-shadow: 0 0 20px #17b7f7;
  font-family: "Blimey Variable", sans-serif;
  color: $footerTextColor;

  p {
    margin: 0;
    position: relative;
  }

  a {
    text-decoration: none;
    color: $footerTextColor;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  // Media query for mobile devices (up to 768px)
  @media (max-width: 768px) {
    font-size: 32px;
    text-shadow: none;
    padding: 10px;
    margin-top: 1500px; /* Adjust this value to move the footer down more */

    a {
      margin-top: 200px; /* Adjust this value to move the footer down more */

      font-size: 24px;
    }
  }

  // Media query for 360x740 screen size
  @media (max-width: 360px) and (max-height: 740px) {
    margin-top: 500px; /* Adjust this value to move the footer down more */
  }
}
